<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HORUS Tickets</title>
    <link rel="stylesheet" href="{{url}}css/semantic.min.css"/>
    <script src="{{url}}js/jquery.min.js"></script>
    <script src="{{url}}js/semantic.min.js"></script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css'>
  </head>
  <body ng-app="home" ng-controller="homeCtrl">
    <div class="ui inverted segment">
      <div class="ui inverted  menu">
        <a class="item" ng-click="btnMenu()">
          <i class="bars icon"></i>
        </a>
        <a class="active item" href="{{url}}">
          <i class="map icon"></i>
          Horus-Tickets
        </a>
        <div class="right menu">
            <a class="item" ng-show="{{usuario}}" href="{{url}}perfil">
              <i class="user icon"></i>
              Mi perfil
            </a>
          <a class="item" ng-show="{{usuario}}" ng-click="btnCierra()">
            <i class="sign out alternate icon"></i>
            Cerrar sesion
          </a>
        </div>
      </div>
    </div>
    <div class="ui sidebar inverted vertical menu">
      <a class="item" href="{{url}}">
        <i class="home icon"></i>
        Inicio
      </a>
      <a class="item" ng-show="{{usuario}}" href="{{url}}perfil">
        <i class="user icon"></i>
        Mi perfil
      </a>
      <a class="item" ng-show="{{usuario}}" href="{{url}}nuevo_ticket">
        <i class="ticket alternate marker alternate icon"></i>
        Nuevo ticket
      </a>
      <a class="item" ng-show="{{usuario}} && {{perfil_id}} === 2" href="{{url}}nuevo_usuario">
        <i class="user plus icon"></i>
        Crear nuevo usuario al sistema
      </a>
      <a class="item" ng-show="{{usuario}} && {{perfil_id}} === 2" href="{{url}}nuevo_usuario">
        <i class="chart bar outline icon"></i>
        Estadisticas
      </a>
      <a class="item" ng-show="{{usuario}}" ng-click="btnCierra()">
        <i class="sign out alternate icon"></i>
        Cerrar sesion
      </a>
    </div>
    {{{body}}}
  </body>
  <script src="{{url}}js/build.js"></script>
  <script src="{{url}}js/socket.io.js"></script>
</html>
