<div class="ui grid" ng-controller="ticketCtrl" ng-init="init()">
  <div class="two wide column"></div>
  <div class="twelve wide column"><br>
    <h4 class="ui horizontal divider header">
      <i class="tag icon"></i>
      Mis tickets activos {{empresa}}
    </h4>
    <a class="ui button green small right floated" href="{{url}}nuevo_ticket">
      <i class="plus icon"></i>
      Nuevo ticket
    </a>
    <div class="ui icon input ">
      <input type="text" placeholder="Buscar..." ng-model="buscar">
      <i class="circular search link icon"></i>
    </div><br><br>
    <div class="ui label">
      <i class="ticket alternate marker alternate icon"></i>
      {[list.length]}
      <a class="detail" ng-click="buscar = ''">Total de tickets</a>
    </div>
    <div class="ui active loader" ng-show="load"></div>
    <a class="ui green label" ng-click="buscar = 'ACTIVO'">Activos</a>
    <a class="ui blue label" ng-click="buscar = 'FINALIZADO'">Finalizados</a>
    <a class="ui red label" ng-click="buscar = 'CANCELADO'">Cancelados</a>
    <table ng-class="{'ui red table': buscar === 'CANCELADO', 'ui blue table': buscar === 'FINALIZADO', 'ui green table': buscar === 'ACTIVO', 'ui table': buscar === ''}">
      <thead>
        <th>Ticket #</th>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Departamento</th>
        <th>Estatus</th>
        <th>Servicio</th>
        <th>Empresa</th>
        <th>Detalle</th>
      </thead>
      <tbody>
        <tr ng-repeat="l in list | filter:buscar" ng-class="{'warning': l.nombre_estatus === 'ATENDIENDO', 'positive': l.nombre_estatus === 'ACTIVO', 'negative': l.nombre_estatus === 'CANCELADO', 'blue': l.nombre_estatus === 'FINALIZADO'}">
          <td>{[l.ticket_id]}</td>
          <td>{[l.fecha]}</td>
          <td>{[l.descripcion]}</td>
          <td>{[l.nombre_departamento]}</td>
          <td>{[l.nombre_estatus]}</td>
          <td>{[l.nombre_servicio]}</td>
          <td>{[l.empresa]}</td>
          <td>
            <button class="ui button blue" ng-click="btnModalDetalle(l)">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="two wide column"></div>
  <div class="ui modal" id="modal-detalle">
    <div class="header">
      Detalles ticket {[detalle.ticket_id]}
      <button class="ui right floated button red" ng-click="btnCancelarTicket()" ng-show="detalle.estatus_id === 1">Cancelar Ticket</button>
    </div>
    <div class="content">

      <form class="ui form">
        <div class="ui icon message blue" ng-show="detalle.nombre_estatus === 'FINALIZADO'">
          <i class="check circle icon"></i>
          <div class="content">
            <div class="header">
              Ticket completado
            </div>
            <p>Este ticket ha sido finalizado.</p>
          </div>
        </div>
        <div class="ui icon message red" ng-show="detalle.nombre_estatus === 'CANCELADO'">
          <i class="times circle icon"></i>
          <div class="content">
            <div class="header">
              Ticket cancelado
            </div>
            <p>Este ticket ha sido cancelado.</p>
          </div>
        </div>
        <div class="field">
          <label>Fecha</label>
          <input type="text" ng-disabled="true" ng-model="detalle.fecha">
        </div>
        <div class="field">
          <label>Descripción</label>
          <textarea type="text" ng-disabled="true" ng-model="detalle.descripcion"></textarea>
        </div>
        <div class="field">
          <label>Departamento</label>
          <input type="text" ng-disabled="true" ng-model="detalle.nombre_departamento">
        </div>
        <div class="field">
          <label>Estatus</label>
          <input type="text" ng-disabled="true" ng-model="detalle.nombre_estatus">
        </div>
        <div class="field">
          <label>Servicio</label>
          <input type="text" ng-disabled="true" ng-model="detalle.nombre_servicio">
        </div>
        <div class="field" ng-show="{{perfil_id}} === 2">
          <label>Actualizar estatus</label>
          <select type="text" ng-model="act.estatus">
            <option value="{[l.estatus_id]}" ng-repeat="l in listEstatus">{[l.nombre]}</option>
          </select>
        </div>
        <div class="field" ng-show="act.estatus === '5'">
          <label>Comentario</label>
          <textarea ng-model="act.comentario">{[l.nombre]}</textarea>
        </div>
        <h4 class="ui horizontal divider header" ng-show="detalle.nombre_estatus === 'FINALIZADO'">
          <i class="list icon"></i>
          Detalles finalización
        </h4>
        <div ng-show="detalle.nombre_estatus === 'FINALIZADO'">
          <label><strong>Fecha finalización: </strong>{[detalle.fecha_atencion]}</label><br>
          <label><strong>Quien atendio: </strong>{[detalle.nombre]}</label><br>
          <label><strong>Comentario: </strong>{[detalle.comentario]}</label>
        </div>
      </form>

    </div>
    <div class="actions" ng-show="{{perfil_id}} === 2">
      <button class="ui green button" ng-click="btnUpdateTicket()" ng-disabled=" detalle.nombre_estatus === 'CANCELADO' || detalle.nombre_estatus === 'FINALIZADO' ">Actualizar</button>
    </div>
  </div>
</div>
