<div class="ui grid" ng-controller="loginCtrl">
  <div class="two wide column"></div>
  <div class="twelve wide column"><br><br>
    <div class="ui icon red message" ng-show="msg_show">
        <i class="info circle icon"></i>
        <div class="content">
            <div class="header">
            Tienes un error
            </div>
            <p>{[err_msg]}</p>
        </div>
    </div>
      <h2 class="ui header">
        <i class="ticket alternate marker alternate icon"></i>
        <div class="content">
            Horus Tickets
            <div class="sub header">Inicia sesión para ingresar al sistema</div>
        </div>
      </h2>
      <form class="ui form">
        <div class="two fields">
            <div class="field">
                <label>Usuario:</label>
                <input type="text" placeholder="usuario..." ng-model="login.user">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Contraseña:</label>
                <input type="password" placeholder="contraseña..." ng-model="login.pass">
            </div>
        </div>
        <button class="ui button green" type="submit" ng-click="btnLogin()" ng-show="loadingLog">
        <i class="user icon"></i>
            Iniciar sesión
        </button>
        <button class="ui loading green button" ng-hide="loadingLog">Loading</button>
      </form>
  </div>
  <div class="two wide column"></div>
</div>
