<div class="ui container" ng-controller="nuevoCtrl" ng-init="init()">
    <form class="ui form"><br>
          <h4 class="ui dividing header">Crear nuevo usuario</h4>
          <div class="field">
            <div class="three fields">
                <div class="field">
                    <label>Nombre</label>
                    <input type="text" ng-model="nuevo.nombre">
                </div>
                <div class="field">
                    <label>Apellido Paterno</label>
                    <input type="text" ng-model="nuevo.ap">
                </div>
                <div class="field">
                    <label>Apellido Materno</label>
                    <input type="text" ng-model="nuevo.am">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Edad</label>
                    <input type="text" ng-model="nuevo.edad">
                </div>
                <div class="field">
                    <label>Correo</label>
                    <input type="text" ng-model="nuevo.correo">
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Usuario login</label>
                    <input type="text" ng-model="nuevo.usuario_login" ng-blur="createUser()">
                </div>
                <div class="field">
                    <label>Empresa</label>
                    <input type="text" ng-model="nuevo.empresa">
                </div>
                <div class="field">
                    <label>Perfil</label>
                    <select ng-model="nuevo.perfil_id">
                        <option ng-repeat="l in listPerfil" value="{[l.perfil_id]}">{[l.nombre]}</option>
                    </select>
                </div>
            </div>
          </div>
          <button class="ui button green" ng-disabled="validateUser" ng-click="btnCreateUserSistema()">
              Crear nuevo usuario
          </button>
    </form>
</div>