<div class="ui grid" ng-controller="perfilCtrl" ng-init="init({{usuario_id}})">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui basic segment">
        <div class="ui active loader" ng-show="load"></div>
        <div class="ui clearing segment">
        <h3 class="ui right floated header">
            <img class="ui medium circular image" src="{{url}}img/man.png">
        </h3>
        <h3 class="ui left floated header">
            Mi perfil
        </h3><br><br>
        <div class="ui icon yellow message" ng-show="msg_form_edit">
            <i class="edit icon"></i>
            <div class="content">
                <div class="header">
                Tienes un error.
                </div>
                <p>Todos los campos son requeridos.</p>
            </div>
        </div>
        <div ng-hide="load">
            <h4>Bienvenido: {[perfil.nombre]}</h4>
            <label>Perfil: {[perfil.perfil]}</label>
            <h4 class="ui horizontal divider header">
            <i class="tag icon"></i>
                Datos personales
            </h4>
            <div class="ui form">
                <div class="three fields">
                    <div class="field">
                        <label>Nombre</label>
                        <input type="text" ng-disabled="form_user" ng-model="perfil.nombre">
                    </div>
                    <div class="field">
                        <label>Apellido paterno</label>
                        <input type="text" ng-disabled="form_user" ng-model="perfil.ap">
                    </div>
                    <div class="field">
                        <label>Apellido materno</label>
                        <input type="text" ng-disabled="form_user" ng-model="perfil.am">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Edad</label>
                        <input type="text" ng-disabled="form_user" ng-model="perfil.edad">
                    </div>
                    <div class="field">
                        <label>Correo</label>
                        <input type="text" ng-disabled="form_user" ng-model="perfil.correo">
                    </div>
                </div>
                <button class="ui button blue" ng-click="btnModalCambiar()" ng-show="toggleEdit">
                    <i class="key icon"></i>
                    Cambiar contraseña
                </button>
                <button class="ui button green" ng-click="btnEditar()" ng-show="toggleEdit">
                    <i class="edit icon"></i>
                    Editar perfil
                </button>
                <button class="ui button blue" ng-click="btnEditarGuardar()" ng-hide="toggleEdit" ng-disabled="btn_loading_edit">
                    <i class="save icon"></i>
                    Guardar
                </button>
                <button class="ui button red" ng-click="btnCancelar()" ng-hide="toggleEdit" ng-disabled="btn_loading_edit">
                    <i class="edit icon"></i>
                    Cancelar
                </button>
            </div>
        </div>
        </div>
    </div>
  </div>
  <div class="two wide column"></div>
    <div class="ui modal" id="modal-cambiar">
        <div class="header">
            Cambiar contraseña
            <h3 class="ui right floated header">
                <img class="ui medium circular image" src="{{url}}img/key.png">
            </h3>
        </div>
        <div class="content">
            <div class="ui icon message yellow" ng-show="msg_cambia_err">
                <i class="exclamation circle icon"></i>
                <div class="content">
                    <div class="header">
                    Tienes un error.
                    </div>
                    <p>{[msg_cambia_text]}</p>
                </div>
            </div>
            <form class="ui form">
                <div class="field">
                    <label>Contraseña actual</label>
                    <input type="password" ng-model="cambia.actual" ng-blur="verificaPass()">
                </div>
                <div class="field">
                    <label>Nueva contraseña</label>
                    <input type="password" ng-model="cambia.nueva">
                </div>
                <div class="field">
                    <label>Repite contraseña</label>
                    <input type="password" ng-model="cambia.repite">
                </div>
            </form>
        </div>
        <div class="actions">
            <button class="ui button blue" ng-click="btnCambia()" ng-disabled="disabled_btn">Cambiar</button>
        </div>
    </div>
</div>
