<div class="ui grid" ng-controller="ticketCtrl" ng-init="initNuevo({{usuario_id}})">
  <div class="two wide column"></div>
  <div class="twelve wide column"><br>
    <h4 class="ui horizontal divider header">
      <i class="ticket alternate marker alternate icon"></i>
      Nuevo ticket
    </h4>
    <form>
        <div class="ui icon message yellow" ng-show="msg_warn">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    No puedes generar un ticket nuevo.
                </div>
                <p>Tienes ticket/s activos.</p>
            </div>
        </div>
        <div class="ui active loader" ng-show="load"></div>
            <div class="ui form" ng-hide="load">
                <div class="three fields">
                    <div class="field">
                    <label>Empresa</label>
                    <input type="text" ng-disabled="true" ng-model="ticket.empresa">
                    </div>
                    <div class="field">
                        <label>Departamento</label>
                        <select name="" id="" ng-model="ticket.departamento">
                            <option ng-repeat="l in listDepartamento" value="{[l.departamento_id]}">{[l.nombre]}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Servicio</label>
                        <select name="" id="" ng-model="ticket.servicio">
                            <option ng-repeat="l in listServicio" value="{[l.servicio_id]}">{[l.nombre]}</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>Correo electronico</label>
                    <input type="text" ng-model="ticket.correo"></input >
                </div>
                <div class="field">
                    <label>Descripción</label>
                    <textarea ng-model="ticket.descripcion"></textarea>
                </div>
                <button class="ui button green" ng-hide="msg_warn" ng-click="btnCreaTicket()">
                    <i class="ui ticket alternate marker alternate icon "></i>
                    Crear ticket
                </button>
            </div>
    </form>
  </div>
  <div class="two wide column"></div>
</div>
